name: Daily OneSignal Notification

on:
  schedule:
    - cron: "55 11 * * *"   # 5:25 PM IST
  workflow_dispatch: {}

jobs:
  send:
    runs-on: ubuntu-latest
    steps:
      - name: Install jq
        run: sudo apt-get install jq

      - name: Send Notification
        run: |
          payload=$(jq -n \
            --arg app_id "${{ secrets.ONESIGNAL_APP_ID }}" \
            --arg title "${{ secrets.TITLE }}" \
            --arg body "${{ secrets.BODY }}" \
            '
            {
              app_id: $app_id,
              included_segments: ["Subscribed Users"],
              headings: { en: $title },
              contents: { en: $body }
            }
            '
          )

          echo "Sending notification..."
          curl -i -X POST "https://onesignal.com/api/v1/notifications" \
            -H "Authorization: Basic ${{ secrets.ONESIGNAL_REST_KEY }}" \
            -H "Content-Type: application/json" \
            --data "$payload"
